<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7z.Libs" version="19.0.2" targetFramework="net452" />
  <package id="GeneralUpdate.Core" version="3.2.1" targetFramework="net461" />
  <package id="GeneralUpdate.Single" version="1.0.0" targetFramework="net461" />
  <package id="GeneralUpdate.Zip" version="1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="SevenZipSharp.Net45" version="1.0.19" targetFramework="net452" />
</packages>