<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GeneralUpdate.Common" version="1.0.0" targetFramework="net48" />
  <package id="GeneralUpdate.Core" version="3.6.10" targetFramework="net48" />
  <package id="GeneralUpdate.Zip" version="1.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
</packages>