<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generalupdateapi.dao.mapper.UpdateVersionMapper">

    <resultMap id="BaseResultMap" type="generalupdateapi.entity.db.Version">
        <id column="MD5" jdbcType="VARCHAR" property="md5" />
        <id column="PubTime" jdbcType="INTEGER" property="pubTime" />
        <result column="Name" jdbcType="VARCHAR" property="name" />
        <result column="Url" jdbcType="VARCHAR" property="url" />
        <result column="Version" jdbcType="VARCHAR" property="version" />
        <result column="ClientType" jdbcType="INTEGER" property="clientType" />
    </resultMap>

<!--查询最新版本信息-->
    <select id="queryLastVersion" resultMap="BaseResultMap">
        select * from updateversioninfo
        <where>
            <if test="clientType!=null and clientType!=''">
                and `clientType` = #{clientType}
            </if>
            ORDER BY `pubTime` DESC LIMIT 1
        </where>
    </select>

<!--根据客户端当前版本的发布时间查出，相差的所有版本信息-->
    <select id="queryVersion" resultMap="BaseResultMap">
        select * from updateversioninfo
        <where>
            <if test="pubTime!=null and pubTime!=''">
                and `pubTime` >= #{pubTime}
            </if>
            <if test="clientType!=null and clientType!=''">
                and `clientType` = #{clientType}
            </if>
        </where>
    </select>

    <!--查询需要返回的验证信息-->
    <select id="queryValidateInfo" resultMap="BaseResultMap">
        select MD5,PubTime,Version from updateversioninfo
        <where>
            <if test="pubTime!=null and pubTime!=''">
                and `pubTime` >= #{pubTime}
            </if>
            <if test="clientType!=null and clientType!=''">
                and `clientType` = #{clientType}
            </if>
        </where>
    </select>
</mapper>