name: dotnet-ci

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - name: Add maui workload
      run: dotnet workload install maui
    - name: build
      run: dotnet build ./src/GeneralUpdate.sln